.my-bg-color{
    background-color:rgb(44, 62, 80) ; 
} 

.my-y{
    background-color: yellow;
} 

[class*="col-"]{
    height: 50px; 
   border: 1px solid tomato;
} 
.border-radius{
    border-radius: 50%;
}
section#jumbo{ 
    background-color: rgb(26, 188, 156); 
    height: 400px; 

}  

section#main{
    height: 400px; 
    background-color:rgb(26, 188, 156)
}

