.my-bg-color{
    background-color:rgb(44, 62, 80) ; 
} 

.my-y{
    background-color: yellow;
}

.my-color-white{
    color: white;
} 

[class*="col-"]{
    height: 100px; 
   border: 1px solid tomato;
}