.my-bg-color{
    background-color:rgb(44, 62, 80) ; 
} 
 
.my-bg-color-green{
    background-color: rgb(26, 188, 156);
} 
.my-bg-color-blu{
    background-color: rgb(58, 84, 109);
} 
.my-bg-color-dark{
    background-color: rgb(44, 62, 80);
}

section#jumbo .container .row .jumbo-box figure img{
    height: 200px;
} 

section#jumbo .container .jumbo-box{
    height: 450px; 
    width: 500px; 
    margin: 0 auto;
    
} 



section#jumbo .container .row .jumbo-box .jumbo-box-star .star{
    width: 30px;
}

section#jumbo .container .row .jumbo-box .jumbo-box-star .line{
    width: 100px; 
    height: 3px;
    border-radius: 50px;
    background-color: silver;
}